{% extends 'base.html.twig' %}

{% block title %}Edit Plant{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Plant{% endtrans %}</h1>

    {{ include('plant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plant_index') }}">{% trans %}back to list{% endtrans %}</a>

    {{ include('plant/_delete_form.html.twig') }}
{% endblock %}
